/*Universal Styles*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: seashell;
    font-family: Helvetica, sans-serif;
    
}

/*NavBar*/

.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    border-bottom: 1px solid seashell;
}

.navbar a {
    background-color: black;
    color: seashell;
}

.nav-list {
    background-color: black;
    list-style-type: none;
    text-align: center;
    padding-top: 10px;
    display: none;
}

.nav-list .list-item {
    background-color: black;
    padding: 10px 10px; 
    align-items: right;
    border-top: 1px solid white;
}

.navbar a:hover {
    background-color: black;
    color: darkgray;
}

.primary-icon {
    background-color: black;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

.menu {
    background-color: black;
    display: none;
}

.menu-line {
    width: 20px; 
    height: 3px; 
    background-color: white; 
    margin-bottom: 4px;
}

/*Media Queries*/
@media all and (min-width: 480px) {
    .nav-list {
        display: inline-flex;
        background-color: black;
    }
    
    .nav-list .list-item {
        border: none; 
        justify-content: right;
        background-color: black;
    }
}
@media all and (max-width: 480px) {
    .navbar {
        flex-direction: column;
        background-color: black;
    }
    .menu {
        display: block;
        position: absolute;
        right: 15px; 
        top: 15px; 
        background-color: black;
    }
}

.active {
    display: block;
}

/*Mission Section*/

.hero-background {
    background-color: black;
}

.hero {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    margin-left: 50px;
    margin-right: 50px;
    background-image: url(./images/img-mission-background.jpeg);

}

.hero-inner {
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-weight: 400;
}
  
.hero-headline {
    background-color: black;
    font-size: 30px;
}

.hero-description {
    background-color: black;
    margin-top: 20px;
    font-size: 20px;
}

/*Tea Cards Section*/

.tea-cards {
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}

.teacard-header {
    position: relative;
    padding-top: 80px;
    font-size: 30px;
}

.teacard-question {
    position: relative;
    padding-top: 20px;
    font-size: 22px;
    padding-bottom: 10px;
}

.cards-container {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.card h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 22px;
}

.berry {
    width: 300px;
    height: 200px;
}

/*location cards*/

.locations {
    background-image: url(./images/img-locations-background.jpeg);
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    flex-direction: column;
    text-align: center;
    background-size: cover;
}

.locationcards-container {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

.locations-header {
    padding-top: 80px;
    font-size: 30px;
    padding-bottom: 80px;
    color: seashell;
    opacity: 0.9;
}

.location-card {
    margin-top: 15px;
    width: 300px;
    height: 300px;
    background-color: black;
    margin-right: 20px;
    line-height: 50px;
    color: seashell;
    opacity: 0.9;
}

/*contact*/

.contact {
    background-color: black;
    height: 200px;
    display: inline-flex;
    width: 100%;
    text-align: center;
    color: seashell;
    flex-direction: column;
    justify-content: space-around;
}

#tea-cozy {
    font-size: 22px;
}

/*footer*/

.footer {
    height: 100px;
    background-color: black;
    color: seashell;
    text-align: left;
    padding-top: 50px;
    margin-left: 20px;
    border-top: 1px solid white;

}

.footer-container {
    background-color: black;
}
